.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-left: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-upload-container {
  border: 2px dashed #ccc;
  border-radius: 8px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-upload-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.upload-instructions {
  text-align: center;
  color: #888;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.product-name input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}

.save-asset {
  background-color: #ffcd00;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.image-upload {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
  }
  .product-name input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 92%;
    margin-bottom: 20px;
}
  .image-upload {
    height: 80vh;
    width: 72vw;
  }

  .sidebar {
    margin-top: 0;
    border-top: none;
    border-left: 1px solid #ccc;
    padding-top: 0;
    padding-left: 20px;
    width: 300px;
  }
}
